<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TiSpec</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/stylesheets/tispec.css" rel="stylesheet">


    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-popover.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.knob.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <script type="text/javascript" src="/javascripts/underscore-min.js"></script>
    <script type="text/javascript" src="/javascripts/Spec.js"></script>
    <script type="text/javascript" src="/javascripts/Suite.js"></script>
    <script type="text/javascript" src="/javascripts/SpecsSuite.js"></script>
    <script type="text/javascript" src="/javascripts/SpecsSuiteView.js"></script>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

      <div class="row-fluid">
        <div class="page-header" style="margin-top: 0px;">
          <h1 style="padding-left: 20px;">Tispec <small>The ultimate Titanium test engine</small></h1>
        </div>
      </div>

      <div id="specs_suites" class="row-fluid">
        <!-- specs_suites here -->
      </div>

    </div>
  </body>

  <script type="text/javascript">

    var socket, specsSuiteViews = {};

    // Socket
    // =========================================================================

    socket = io.connect('http://localhost');

    socket.on('confirmSpec', function (expectedBehavior) {
      var confirmationDiv = $('#spec_confirmation_' + expectedBehavior.specsSuiteId);

      confirmationDiv.find('.confirmation_expected_message').text(expectedBehavior.description);
      confirmationDiv.show();
    });

    socket.on('hello', function(_specsSuite) {
      var specSuiteView = new SpecsSuiteView(_specsSuite.id, _specsSuite.appName, _specsSuite.appVersion, _specsSuite.deviceName, _specsSuite.deviceModel)

      specsSuiteViews[specSuiteView.id] = specSuiteView
    });

    socket.on('start', function(_specsSuite) {
      var specsSuiteView = specsSuiteViews[_specsSuite.specsSuiteId],
          specsSuite     = specsSuiteView.getSpecsSuite();
      specsSuite.setTotalCount(_specsSuite.totalCount);
    });

    socket.on('specStart', function(_spec) {
      var specsSuiteView = specsSuiteViews[_spec.specsSuiteId],
          specsSuite     = specsSuiteView.getSpecsSuite(),
          spec           = new Spec(_spec.id, _spec.suiteName, _spec.description);

      specsSuite.addSpec(spec);
    });

    socket.on('specEnd', function(_spec) {
      var specsSuiteView = specsSuiteViews[_spec.specsSuiteId],
          specsSuite     = specsSuiteView.getSpecsSuite(),
          spec           = specsSuite.getSpec(_spec.id);

      spec.setResult(_spec.totalCount, _spec.passedCount, _spec.failedCount, _spec.passed, _spec.subSpecs);
    });

    socket.on('suiteEnd', function(_suite) {
      var specsSuiteView = specsSuiteViews[_suite.specsSuiteId],
          specsSuite     = specsSuiteView.getSpecsSuite(),
          suite          = new Suite(_suite.specsSuiteId, _suite.description, _suite.totalCount, _suite.passedCount);

      specsSuite.addSuite(suite);
    });

    socket.on('end', function(specsSuiteId) {
      $('.spec_row').each(function() {
        // Add a popover displaying the results of the specs
        if ($(this).data('content')) {
          $(this).popover('hide');
        }
      });
    });

    function runSpecs(specsSuiteId, form) {
      var specsSuiteView = specsSuiteViews[specsSuiteId];
      specsSuiteView.initializeView();

      var filter = $(form).find(':input').first().val();
      socket.emit('runSpecs', {specsSuiteId: specsSuiteId, filter: filter});
      return false;
    }

    function validateSpec(specsSuiteId, valide) {
      $('#spec_confirmation_' + specsSuiteId).hide();
      socket.emit('confirmSpecResult', { specsSuiteId: specsSuiteId, valide: valide });
    }

    function endSpecsSuite(specsSuiteId) {
      delete specsSuiteViews[specsSuiteId];
      $('#specs_suite_' + specsSuiteId).remove();
    }
  </script>

</html>
