<p>The spec screenshot didn't match the reference one. If you consider that the new one should be the reference, click on "Change reference image"</p>
<img src="<%= expectedImage %>" title="Reference image" style="height: 80%;">
<img src="<%= actualImage %>" title="Actual image" style="height: 80%;">
<p style= "margin-top: 10px;">
  <a href="#" class="btn btn-primary" onclick="changeSpecScreenshot(<%= specsSuiteId %>, <%= specId %>);">Change reference image</a>
</p>
