<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TiSpec</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="stylesheets/tispec.css" rel="stylesheet">

    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

    <!-- Main Content
    ================================================== -->
    <div class="container">

      <div class="row">

        <!-- Left Part
        ================================================== -->
        <div class="span6" id="left_body">
          <h2>Specs List</h2>
          <div>
            <form class="form-inline" method="GET" action="/specs">
              <div class="input-append">
                <input type="text" name="filter" class="input-xlarge" placeholder="Filter">
                <button type="submit" class="btn">Execute</button>
              </div>
            </form>
          </div>
          <div>
            <table class="table table-hover table-condensed">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i<specs.length; i++) { %>
                  <% spec = specs[i]; %>
                  <tr class="<%= spec.passed ? 'success' : 'error' %>">
                    <td><%= spec.description %></td>
                    <td><%= spec.passedCount + '/' + spec.totalCount + ' passed' %></td>
                    <td>
                      <a href="#" class="btn btn-small btn-info">Results</a>
                    </td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div> <!-- Left Part -->

        <!-- Right Part
        ================================================== -->
        <div class="span5" id="right_body">
          <h2><%= specs[0].description %></h2>

          <h3>Description</h3>
          <div>
            <form class="form-horizontal">
              <span class="input-block-level uneditable-input">When true is compared to true, it should return true</span>
            </form>
          </div>

          <h3>Validation</h3>
          <div>
            <form class="form-horizontal">
              <textarea rows="3" class="input-block-level" placeholder="Description of the error"></textarea>
              <button class="btn btn-large btn-success" type="button">OK</button>
              <button class="btn btn-large btn-danger" type="button">NOK</button>
              </div>
            </form>
          </div>
        </div> <!-- Right Part -->

      </div>

  </body>
</html>
