<p>There is no expected image defined. If you consider that the new one should be the reference, click on "Define as reference image"</p>
<img src="<%= actualImage %>" title="Actual image" style="max-height: 80%; max-width: 45%;">
<p style= "margin-top: 10px;">
  <a href="#" class="btn btn-primary" onclick="changeSpecScreenshot(<%= specsSuiteId %>, <%= specId %>);">Define as reference image</a>
</p>
