<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TiSpec</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- css -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/tispec.css" rel="stylesheet">

    <!-- external javascript -->
    <script src="lib/jquery-1.9.1.min.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="lib/backbone-min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <!-- tispec javascript -->
    <script src="js/app.js"></script>
    <script src="js/SocketManager.js"></script>

    <script src="js/models/SubSpec.js"></script>
    <script src="js/models/Spec.js"></script>
    <script src="js/models/Suite.js"></script>
    <script src="js/models/TestSuite.js"></script>

    <script src="js/views/testsuite.js"></script>
    <script src="js/views/suite.js"></script>
    <script src="js/views/spec.js"></script>
    <script src="js/views/subSpec.js"></script>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

      <div class="row-fluid">
        <div class="page-header" style="margin-top: 0px;">
          <h1 style="padding-left: 20px;">Tispec <small>The ultimate Titanium test engine</small></h1>
        </div>
      </div>

      <div id="specs_screenshots_errors"></div>

      <div id="specs_suites" class="row-fluid">
        <!-- specs_suites here -->
      </div>

    </div>
  </body>

</html>
